@import "tailwindcss";

@theme {
    --color-dark-bg: #0f0f0f;
    --color-dark-surface: #171717;
    --color-accent-amber: #f59e0b;

    --color-neon: #14dd14;

    --color-purple-muted: #a78bfa;
    --color-off-white: #e5e7eb;
    --color-dark-blue: #010124;
}

html,
body,
#root {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}